<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Users</title>
        <style>
            label, input {
                display: block;
                margin-bottom: 20px;
                margin-top: 5px;
            }
            .error-message {
                color:red;
                margin-bottom: 20px;
                font-style: italic;
            }
        </style>
 
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
    <p>
        <a href="{% url 'flights:index' %}">Back to full list of flights</a>
    </p>
</html>